.nav {
  display: none;
}

.menu {
  border: none;
  background-color: transparent;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
}

.logoLink {
  margin-bottom: -6px;
}
